.footer-container {
  background: linear-gradient(
    126deg,
    rgba(238, 218, 197, 1) 9%,
    rgba(231, 113, 125, 1) 48%
  );
  min-height: 80px;
  bottom: 0;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.footer-container p {
  margin-top: 30px;
  text-align: center;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .footer-container {
    min-height: 100px;
  }
  .footer-container p {
    font-size: 14px;
  }
}
